@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: roboto, Arial, Helvetica, sans-serif;
}

.header ul a,
.sign-up .text p {
  font-size: 18px;
  color: #c8c8c8;
}

.header,
.sign-up {
  background: #1f2937;
}

.header {
  min-height: 9%;
  display: flex;
}

.header ul {
  margin: 0;
  padding: 0;
  flex: 1 0 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header ul a {
  text-decoration: none;
}

.header .logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bolder;
}

.header .right-elements {
  display: flex;
  gap: 22px;
}

.sign-up {
  min-height: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.sign-up .text {
  flex-basis: 450px;
}

.sign-up .text h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  margin: 0;
}

.sign-up .text p {
  font-weight: 100;
  margin: 0
}

.sign-up .text button {
  background: #3882f6;
  color: white;
  border: none;
  border-radius: 7px;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 30px;
  margin-top: 10px;
}

.sign-up .img {
  background: #6D747D;
  color: rgb(229, 229, 229);
  height: 250px;
  width: 500px;
  display: grid;
  place-content: center;
}
